body {
	margin-top: 15vh;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: LightBlue;
	text-align: center;
}
h1 {
	font-size: 60px;
	text-decoration: underline;
}
.task {
	cursor: pointer;
}